body{
    background-color: #F9F7F7;
}
.card, .dropdown-menu, .card-header{
    background-color: #DBE2EF;
}
p, h1, .h1, h2, h3, h4, .h4,.h5, .dropdown-item, .card-title, span, button{
    color: #112D4E;
}
#githib, #linkedin, #gmail{
    width: 4rem;
}
header, footer,  nav{
    background-color: #112D4E;
}
#nombreCabezado, .nav-link, #portafolo, #desCv, #cvDes, #nombrePie, #letra{
    color: #F9F7F7;
}
img{
    border-radius: 1rem;
}
#nombreCabezado, #nombrePie{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}
#sistema_uridec, #pagina_uridec, #paint, #cafeteria, #calculadora, #diagramaDeGantt, #IDEs, #document{
    height: 37rem;
}
.card-body{
    display: table-cell;
    vertical-align: middle;
}
#document{
    display: flex;
    align-items: center;
}
#experiencia{
    text-align: center;
}
#experiencia-p{
    text-align:justify;
}
#section-0{
    text-align:justify;
    width:auto;
}
#aside{
    width:auto;
}
#section-aside{
    display:flex;
    flex-direction : column;
}
@media screen and (min-aspect-ratio: 3/2) {
    #section-aside{
        display:flex;
        flex-direction:row;
    }   
}
.width{
    width: 21rem;
}
